#------------------------------------------------------------------------------
# This is your standard .gitignore
#------------------------------------------------------------------------------

# For personal stuff, we want to version the following, so they are commented
# out:
# .gitignore

# The following is stuff that we always want to ignore:

*.orig
*.rej
*~
*.o
*.pyc
*.pyo
*.class
.gdb_history
.DS_Store
.hg
.svn
.hgsvn
.git
.snprj
.project
.pydevproject
.settings
.classpath
*.class
\#*
.\#*

#------------------------------------------------------------------------------
# Optional, per-repository ignores
#------------------------------------------------------------------------------

# We don't want to check in the archives for now, because they are big.
archives
